.container {
    display: flex;
    gap: 280px;
    justify-content: center;
    margin-top: 200px;
}
.header-container {
    text-align: center;
    font-size: 60px;
    color: purple;
    transform: matrix(1, 0, -.2, 1, 0, -120);
    text-shadow: 3px -3px 10px pink;
}
.intro-container {
    text-align: left;
    text-shadow: 5px 5px 5px lightgreen;
    color: red;
    font-size: 30px;
    transform: matrix(1, 0, -.2, 1, 0, -140);
    width: 780px;   
}
.techskills-container {
    text-shadow: 3px 3px 5px black;
    color: black;
    font-size: 30px;
    transform: matrix(1, 0, 0, 1, 0, -100);
}
.nav-items {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    gap: 20px;
    font-size: 28px;
    text-shadow: 5px 5px 5px blue;
    transform: matrix(1, 0, -.4, 1, -50, 0);
    list-style: none;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
a {
    text-decoration: none;
    color:purple;
}
@media screen and (max-width: 600px) {
    .container {
        display: flex;
    }
}