h1 {
    font-family: "Kalnia Glaze";
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 2.5em;
    color: lightcoral;
}
body {
    background: linear-gradient(purple, aqua) no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-top: 20vh;
}
.text-container {
    text-align: center;
    text-shadow: 0.5em 0.5em 0.5em red;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
li, a {
    justify-content: right;
    list-style: none;
}
a {
    text-decoration: none;
    color:aqua;
}
.nav-items {
    display: flex;
    justify-content: right;
    margin-right: 2vw;
    gap: 2vw;
    font-size: 2em; 
    text-shadow: 0.5em 0.5em 0.5em blue; 
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}