h1 {
    font-family: "Kalnia Glaze";
    font-size: 30px;
    margin: 0px;
}
h2 {
    font-size: 40px;
    color: lightcoral;
    width: 650px;
    height: 100px;
    transform: matrix(1, 0, -.2, 1, 0, 0);
}
body {
    background: linear-gradient(purple, aqua) no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 200px;
}
.text-container {
    text-align: center;
    text-shadow: 5px 5px 5px red;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
li, a {
    justify-content: right;
    list-style: none;
}
a {
    text-decoration: none;
    color:aqua;
}
.nav-items {
    display: flex;
    justify-content: right;
    gap: 20px;
    font-size: 28px;
    text-shadow: 5px 5px 5px blue;
    transform: matrix(1, 0, -.4, 1, 0, 0);
}