h1 {
    font-family: "Kalnia Glaze";
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 2.5em;
    color: gray;
}
body {
    background: no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-top: 20vh;
}
.text-container {
    text-align: center;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
li, a {
    justify-content: right;
    list-style: none;
}
a {
    text-decoration: none;
    color:purple;
}
.nav-items {
    display: flex;
    justify-content: right;
    margin-right: 2vw;
    gap: 2vw;
    font-size: 2em; 
    text-shadow: 0.3em 0.3em 0.3em blue;
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}